# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b7fc9c34c0cb33e63a8e9ea2930cbe945139542d788d9905d3bb14fe0c4b5547390197b5966618dce2de92537727ae5fd44e294de5ed1a7ccfb99e4a8e11c420

test:
  secret_key_base: 77ea1e3a13a96d0d1e5109a3ac60fd7a11294a3e6c25cdf4c2f5c94809f4479793051ace7a38c136adb314db35606e43fdcbe69b0e5f8ac288c1c743aa55b667

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
